<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-book"></i>
      <i class="fas fa-book-open text-warning"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Ventabook</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-file-invoice"></i>
      <span>Ordenes</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to 'Listado Ordenes', orders_path, class:"collapse-item" %>
        <%= link_to 'nueva orden', new_order_path, class:"collapse-item" %>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-comment-dots"></i>
      <span>Notificaciones</span>
    </a>
    <div id="collapseTree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to 'Mis mensajes',  messages_loader_path, class:"collapse-item" , remote: true %>
        <%= link_to 'todos los mensajes', messages_path, class:"collapse-item" %>
        <%if user_signed_in?  && current_user.typo == "worker"%>
        <%= link_to 'nuevo mensajes', new_message_path, class:"collapse-item" %>
        <% end %>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <%if user_signed_in?  && current_user.typo == "worker"%>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIII" aria-expanded="true" aria-controls="collapseIII">
      <i class="fas fa-store"></i>
      <span>Ubicaciones</span>
    </a>
    <div id="collapseIII" class="collapse" aria-labelledby="headingIII" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to 'listado', locations_path, class:"collapse-item" %>
        <%= link_to 'nueva ', new_location_path, class:"collapse-item" %>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIV" aria-expanded="true" aria-controls="collapseIV">
      <i class="fas fa-book"></i>
      <span>Libros</span>
    </a>
    <div id="collapseIV" class="collapse" aria-labelledby="headingIV" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to 'listado', books_path, class:"collapse-item" %>
        <%= link_to 'nuevo ', new_book_path, class:"collapse-item" %>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseV" aria-expanded="true" aria-controls="collapseV">
      <i class="fas fa-box-open"></i>
      <span>Inventario</span>
    </a>
    <div id="collapseV" class="collapse" aria-labelledby="headingV" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= link_to 'Actual', inventories_path, class:"collapse-item" %>
        <%= link_to 'ingresar ', new_inventory_path, class:"collapse-item" %>
      </div>
    </div>
  </li>
  <hr class="sidebar-divider d-none d-md-block">
  <% end %>
</ul>
<!-- End of Sidebar -->
