<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>


<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">
  <%flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= message %>
  </div>
  <% end %>

  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <li class="nav-item dropdown no-arrow">
    <%if user_signed_in? %>
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
      <%= icon('fas','user')%>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <%= link_to  profile_path(:id => current_user.id), class:"dropdown-item"  do %>
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Perfil
        <% end %>
      <% if current_user.id == 1 %>
      <%= link_to  profiles_path, class:"dropdown-item"  do %>
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Administrar usuarios
      <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to  destroy_user_session_path , class:"dropdown-item", method:"delete" do %>
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      <% end %>
    </div>
    <% else %>
    <%= link_to  new_user_session_path, class:"nav-link"  do %>
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar sesión</span>
      <%= icon('fas','sign-in-alt')%>
    <% end %>
    <% end %>
  </li>

</ul>

</nav>
<!-- End of Topbar -->
