<div id="wrapper">
  <%= render 'shared/sidebar'%>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%= render 'shared/topbar' %>
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Ordenes</h1>
        </div>
        <div class="card shadow">
          <div class="card-header">
            editar orden N° <%= params["id"] %>
          </div>
          <%if current_user.typo == "worker"%>
          <%= render 'ew' %>
          <% else %>
          <%= render 'eu' %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </div>
</div>
